h1 {
    color: rgb(255, 208, 0);
}
* {
    border:solid;
}

.header{
background-color: cornflowerblue;
display: flex;
justify-content: center;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    flex-flow: row-reverse;
    justify-content: end;
}

p,h2{
     text-align: center;
}